.App {
  text-align: center;
}

.increment {
  background-color: red;
  color: white;
  padding: 0.5rem;
  width: 4rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.counter-show {
  font-size: 50px;
}
